.carrito-btn {
  background: #fff;
  border: 0px solid #fff;
  border-radius: 20px;
  color: #0d0d1a;
  padding: 0.4rem 1.2rem;
  font-weight: 900;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.carrito-btn:hover {
  background: #fff;
  color: #0d0d1a;
  box-shadow: 0 0 20px #fff, 0 0 30px #fff;
  transform: scale(1.05);
}
