<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Juegos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Lista de Juegos</h1>

    <!-- Barra de navegación -->
    <div class="navbar">
      <form action="{{ url_for('home') }}" method="get">
        <button class="nav-button">Inicio</button>
      </form>
    </div>

    <!-- Tabla de juegos -->
    <table>
      <tr>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Precio</th>
      </tr>
      {% for game in games %}
      <tr>
        <td>{{ game.name }}</td>
        <td>{{ game.category }}</td>
        <td>{{ game.price }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
